.shape {
    display: flex;
    height: 5rem;
    flex-shrink: 0;
    align-items: flex-end;
    border-radius: 0.5rem;
    background-color: #3b82f6;
    padding: 1rem;
}

@media (min-width: 768px) {
    .shape {
        height: 13rem;
    }
}